@model List<ResultCategoryDto>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori adı</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.CategoryId</td>
            <td>@i.CategoryName</td>
        </tr>
        }
</table>

</div>