
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br /><br />
    <h3 class="alert alert-succes">Dolar alış: @ViewBag.Exchange</h3>
    <h3 class="alert alert-danger">Dolar satış: @ViewBag.previus</h3>
</div>