@model CreateOrderAddressDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <form method="post">
    <div class="row px-xl-5">
        
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Sipariş teslimat adresi</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Adınız</label>
                            <input class="form-control" type="text" asp-for="Name" placeholder="Adınız">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Soyadınız</label>
                            <input class="form-control" type="text" asp-for="Surname" placeholder="Soyadınız">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail adresi</label>
                            <input class="form-control" type="text" asp-for="Email" placeholder="E-mail">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Telefon numarası</label>
                            <input class="form-control" type="text" asp-for="Phone"  placeholder="Telefon numarası">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Açık adres 1</label>
                            <input class="form-control" type="text" asp-for="Detail1" placeholder="Açık adres 1">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Açık adres 2</label>
                            <input class="form-control" type="text"  asp-for="Detail2" placeholder="Açık adres 2">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Ülke</label>
                            <input class="form-control" type="text" asp-for="Country" placeholder="Ülke">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Şehir</label>
                        <input class="form-control" type="text" asp-for="City" placeholder="Şehir">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>ilçe</label>
                            <input class="form-control" type="text" asp-for="Description" placeholder="İlçe">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Posta kodu</label>
                            <input class="form-control" type="text" asp-for="ZipCode" placeholder="Posta kodu">
                    </div>  
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Sipariş özeti</span></h5>

            @await Component.InvokeAsync("_OrderSummaryComponentPartial")

            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Ödeme yöntemini seçiniz</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">Kredi kartı</label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">EFT/Havale</label>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold py-3">Ödeme adımına geç</button>
                </div>
            </div>
            
        </div>
        
    </div>
    </form>
</div>

