<section class="content-header">
    <h1>@ViewBag.V0</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> @ViewBag.V1</a></li>
        <li class="active"><i class="fa fa-envelope-o"></i> @ViewBag.V2</li>
        <li class="active"><i class="fa fa-bars"></i> @ViewBag.V3</li>
    </ol>
</section>