<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/images/logos/manlogo.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Florence Douglas</p>
                <a href="#"><i class="fa fa-circle"></i> Online</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menu</li>
            <li> <a href="/Admin/Category/Index"> <i class="fa fa-th"></i> <span>Kategoriler</span></a> </li>
            <li> <a href="/Admin/Product/ProdcutListWithCategory"> <i class="fa fa-mobile"></i> <span>Ürünler</span></a> </li>
            <li> <a href="/Admin/FeatureSlider/Index"> <i class="fas fa-border-all"></i> <span>Öne çıkan bilgisi</span></a> </li>
            <li> <a href="/Admin/Feature/Index"> <i class="fas fa-border-all"></i> <span>Öne çıkan alan bilgisi</span></a> </li>
            <li> <a href="/Default/Index/"> <i class="fas fa-angle-double-right"></i> <span>Siteye git</span></a> </li>
            <li> <a href="/Admin/SpecialOffer/Index"> <i class="fas fa-donate"></i> <span>Özel Teklifler</span></a> </li>
            <li> <a href="/Admin/OfferDiscount/Index"> <i class="fas fa-donate"></i> <span>indirim teklifleri</span></a> </li>
            <li> <a href="/Admin/Brand/Index"> <i class="fas fa-donate"></i> <span>Markalar</span></a> </li>
            <li> <a href="/Admin/About/Index"> <i class="fas fa-donate"></i> <span>Hakkımızda</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fas fa-donate"></i> <span>Yorumlar</span></a> </li>
            <li> <a href="/Admin/Contact/Index"> <i class="fa fa-paper-plane"></i> <span>Mesajlar</span></a> </li>
            <li> <a href="/Admin/User/UserList"> <i class="fa fa-users"></i> <span>Kullanıcı listesi</span></a> </li>
            <li> <a href="/Admin/Contact/Index"> <i class="fa shopping-basket"></i> <span>Sipariş listesi</span></a> </li>
            <li> <a href="/Admin/Contact/Index"> <i class="fa fa-money"></i> <span>Kasa bilgileri</span></a> </li>
            <li> <a href="/Admin/Contact/Index"> <i class="fa fa-pie-chart"></i> <span>İstatistikler</span></a> </li>
            <li> <a href="/Admin/Cargo/CargoCompanyList"> <i class="fa fa-bus"></i> <span>Kargo</span></a> </li>
@*             <li> <a href="/Admin/Contact/Index"> <i class="fa fa-balance-scale"></i> <span>İndirimler</span></a> </li>
            <li> <a href="/Admin/Contact/Index"> <i class="fa fa-picture-o"></i> <span>Görseller</span></a> </li> *@
            <li> <a href="/Admin/Contact/Index"> <i class="fa fa-diamond"></i> <span>Ayarlar</span></a> </li>
            <li> <a href="/Default/Index"> <i class="fa fa-window-close-o"></i> <span>Çıkış yap</span></a> </li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
